node_modules/
dist/
.env
*.log

.playwright/
.playwright-cli/
tool/db_source/
tool/down_card_db/.DS_Store
.DS_Store
# client/public/assets/cards
tool/down_card_db.zip
.obsidian
.claude/skills/playwright-cli
shared/tsconfig.tsbuildinfo
